:root {
    --primary: #ebebeb;
    --hover: #4800ff;
    --current: #3604b7;
    --dark:  #343434;
}

.spacer{
    height: 20px;
}

.navbar-brand img {
    height:50px;
    padding-left:30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

.navbar ul li a:hover {
    color: var(--hover)
}

.navbar {
    background-color: var(--primary);
    border-bottom: 1px solid var(--dark);
    box-shadow: 1px 2px 4px #888888;
}

.footer{
    padding-top:50px;
    text-align:center;
}